extends layout

block title
  | Commands

block content

  header.
    Use these commands to build your game once you have <a href="/">created your project</a>.<br>
    Yellow-highlighted text should be replaced with your own content.

  h2#import Import an image

  pre
    .Command @#{botUsername} #<mark>Project</mark> import <mark>name</mark> from <mark>picture URL</mark>
    a.Tweet Tweet this

  h2#actor Create an actor

  p An actor has a position and angle, it can display an image and do stuff.

  pre
    .Command @#{botUsername} #<mark>Project</mark> new actor <mark>name</mark>
    a.Tweet Tweet this

  p An actor can be a child of another actor.

  pre
    .Command @#{botUsername} #<mark>Project</mark> new actor <mark>name</mark> parent <mark>parent actor</mark>
    a.Tweet Tweet this

  h2#script Import a script

  p Scripts are written using <a href="/emoji">emoji code</a>, a concise scripting language.

  pre
    .Command @#{botUsername} #<mark>Project</mark> script <mark>name</mark> <mark>emoji code</mark>
    a.Tweet Tweet this

  p Once you have imported a script, <b>you need to add it to an actor</b>! (see below)

  h2#components Display images, attach scripts

  p You can attach images and scripts to actors.

  pre
    .Command @#{botUsername} #<mark>Project</mark> add <mark>asset</mark> to <mark>actor</mark>
    a.Tweet Tweet this

  p If you change your mind, you can remove them.

  pre
    .Command @#{botUsername} #<mark>Project</mark> remove <mark>asset</mark> from <mark>actor</mark>
    a.Tweet Tweet this

  h2#edit Rename, move/reparent, delete

  p You can rename assets and actors.

  pre.NotYetImplemented
    | @#{botUsername} #<mark>Project</mark> rename <mark>actor</mark> to <mark>new name</mark>

  p.
    You can move assets into a different folder and change an actor's parent.<br>
    Folders are automatically created and deleted as needed.

  pre.NotYetImplemented
    | @#{botUsername} #<mark>Project</mark> move <mark>asset</mark> to <mark>folder</mark>

  pre
    .Command @#{botUsername} #<mark>Project</mark> reparent <mark>actor</mark> to <mark>parent</mark>
    a.Tweet Tweet this

  p.
    You can use "root" as the parent name to detach an actor from its parent altogether.

  p You can delete them.

  pre.NotYetImplemented
    | @#{botUsername} #<mark>Project</mark> delete <mark>asset or actor</mark> forever

  h2#members Allow a friend to edit the project with you

  p You can give access to multiple people at once by mentioning them in the same tweet.

  pre
    .Command @#{botUsername} #<mark>Project</mark> allow @<mark>elisee</mark>
    a.Tweet Tweet this

  p If you change your mind, you can remove someone too.

  pre
    .Command @#{botUsername} #<mark>Project</mark> deny @<mark>elisee</mark>
    a.Tweet Tweet this

  h2#publish Publish your game

  p Once your game is ready to be played, upload a 16:10 screenshot.

  pre
    .Command @#{botUsername} #<mark>Project</mark> cover <mark>url</mark>
    a.Tweet Tweet this

  p And make it live. It'll appear on the <a href="/games">Games page</a>.

  pre
    .Command @#{botUsername} #<mark>Project</mark> publish
    a.Tweet Tweet this

  p If you need to take it down, you can use the <code>unpublish</code> command.

